<a href="https://colab.research.google.com/github/ElenaBara21/ML_KH/blob/main/revision_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=15
y=4
z=x+y
print(z)
print(type(z))

19
<class 'int'>

Array or List Variables

In [2]:
a=[1,2,3]
a

[1, 2, 3]

In [3]:
b=["Text", 4,5,6]
b

['Text', 4, 5, 6]

In [4]:
print(b[2])

5

In [6]:
a.append(4)
a

[1, 2, 3, 4, 4]

In [7]:
a[0]=5
a

[5, 2, 3, 4, 4]

Dictionaries

In [14]:
country_info = {'name':"Japan", "capital":"Tokyo"}
print(country_info)
print(country_info["name"])
print(country_info["capital"])

{'name': 'Japan', 'capital': 'Tokyo'}
Japan
Tokyo

In [15]:
country_info.keys()

dict_keys(['name', 'capital'])

In [16]:
country_info.values()

dict_values(['Japan', 'Tokyo'])

In [ ]:
Conditional

In [18]:
x=19
if x<=10:
  print("less than 10")
  print("less than 10 wow")
else:
  print("over 10")

over 10

In [21]:
x=29
if x<=10:
  print("less than 10")
elif x>10 and x<=10:
  print("greater than 10 wow")
else:
  print("over 20")

over 20

In [22]:
list(range(1,5))

[1, 2, 3, 4]

In [30]:
b=[]
for i in range(1,5):
  b= i+1

print(b)

5

In [31]:
x=0
collecting_values_of_x=[]
items=["a","b","c","d"]
for item in items:
  x += 1
  print(x,item)
  collecting_values_of_x.append(x)
print(collecting_values_of_x)

1 a
2 b
3 c
4 d
[1, 2, 3, 4]

In [32]:
x=0
y=[]
items=["a","b","c","d"]
for item in items:
  x += 1
  print(x,item)
  y.append(x)
print(y)

1 a
2 b
3 c
4 d
[1, 2, 3, 4]